/*fonts*/
@font-face {
    font-family: 'aleoregular';
    src: url('fonts/aleo-regular/aleo-regular-webfont.eot');
    src: url('fonts/aleo-regular/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/aleo-regular/aleo-regular-webfont.woff2') format('woff2'),
    url('fonts/aleo-regular/aleo-regular-webfont.woff') format('woff'),
    url('fonts/aleo-regular/aleo-regular-webfont.ttf') format('truetype'),
    url('fonts/aleo-regular/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswald_regularregular';
    src: url('fonts/oswald-regular/oswald-regular-webfont.eot');
    src: url('fonts/oswald-regular/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/oswald-regular/oswald-regular-webfont.woff2') format('woff2'),
    url('fonts/oswald-regular/oswald-regular-webfont.woff') format('woff'),
    url('fonts/oswald-regular/oswald-regular-webfont.ttf') format('truetype'),
    url('fonts/oswald-regular/oswald-regular-webfont.svg#oswald_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswaldbold';
    src: url('fonts/oswald-bold/oswald-bold-webfont.eot');
    src: url('fonts/oswald-bold/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/oswald-bold/oswald-bold-webfont.woff2') format('woff2'),
    url('fonts/oswald-bold/oswald-bold-webfont.woff') format('woff'),
    url('fonts/oswald-bold/oswald-bold-webfont.ttf') format('truetype'),
    url('fonts/oswald-bold/oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aleobold';
    src: url('fonts/aleo-bold/aleo-bold-webfont.eot');
    src: url('fonts/aleo-bold/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/aleo-bold/aleo-bold-webfont.woff2') format('woff2'),
    url('fonts/aleo-bold/aleo-bold-webfont.woff') format('woff'),
    url('fonts/aleo-bold/aleo-bold-webfont.ttf') format('truetype'),
    url('fonts/aleo-bold/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswaldlight';
    src: url('fonts/oswald-light/oswald-light-webfont.eot');
    src: url('fonts/oswald-light/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/oswald-light/oswald-light-webfont.woff2') format('woff2'),
    url('fonts/oswald-light/oswald-light-webfont.woff') format('woff'),
    url('fonts/oswald-light/oswald-light-webfont.ttf') format('truetype'),
    url('fonts/oswald-light/oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aleolight';
    src: url('fonts/aleo-light/aleo-light-webfont.eot');
    src: url('fonts/aleo-light/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/aleo-light/aleo-light-webfont.woff2') format('woff2'),
    url('fonts/aleo-light/aleo-light-webfont.woff') format('woff'),
    url('fonts/aleo-light/aleo-light-webfont.ttf') format('truetype'),
    url('fonts/aleo-light/aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Base*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
html {
    font-size: 1px;
}
body {
    font-size: 14rem;
}
.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
/*header*/
header {
    background-color: #e9e9e9;
    height: 30px;
    border-bottom: 1px solid #cccccc;
}
.notification {
    position: absolute;
    top: 0;
    right: 50px;
    line-height: 25rem;
    text-decoration: none;
}
.rectangle {
    width: 220px;
    height: 30px;
    background-color: #f52c66;
    color: #ffffff;
    font-family: 'Aleo', sans-serif;
    font-size: 16rem;
    text-align: center;
    margin: auto;
    border: none;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-top: 25px solid #f52c66;
}
.tabs li {
    list-style: none;
    display: inline-block;
    padding: 0 12px 0 12px;
    font-family: 'aleoregular', sans-serif;
    font-size: 16rem;
    height: 30px;
    line-height: 30px;
}
.tabs .active {
    background-color: #ffffff;
}
/* Scaffolding --------------------------------------------------------------*/

/* Typography ---------------------------------------------------------------*/

/* Iconography --------------------------------------------------------------*/

/* Buttons ------------------------------------------------------------------*/

/* Forms --------------------------------------------------------------------*/

/* Container sizes ----------------------------------------------------------*/

/* Navbar -------------------------------------------------------------------*/

/* Tabs ---------------------------------------------------------------------*/

/* Thumbnails ---------------------------------------------------------------*/

/* Carousel -----------------------------------------------------------------*/

/* Page Layout --------------------------------------------------------------*/



/* Mobile View --------------------------------------------------------------*/
@media (max-width: 767px) {
    .container {
        width: 320px;
    }

}
/* Tablet View --------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 999px) {
    .container {
        width: 768px;
    }

}
/* Desktop View -------------------------------------------------------------*/
@media (min-width: 1000px) {
    .container {
        width: 940px;
    }

}
